@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
@use 'sass:math';
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*="_icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"]::before {
  display: block;
}

._icon-arrow-png:before {
  content: "\e900";
}

._icon-facebookpng:before {
  content: "\e901";
}

._icon-heartpng:before {
  content: "\e902";
}

._icon-instagrampng:before {
  content: "\e903";
}

._icon-linkedinpng:before {
  content: "\e904";
}

._icon-mailpng:before {
  content: "\e905";
}

._icon-mappng:before {
  content: "\e906";
}

._icon-mobilepng:before {
  content: "\e907";
}

._icon-quote:before {
  content: "\e908";
}

._icon-searchpng:before {
  content: "\e909";
}

._icon-triangle-arrowpng:before {
  content: "\e90a";
}

._icon-twitterpng:before {
  content: "\e90b";
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.0625rem;
  color: #1a1919;
  font-family: "Poppins", sans-serif;
}

button {
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*="container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1199.98px) {
  [class*="container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="container"] {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  [class*="container"] {
    max-width: none;
  }
}

.title {
  position: relative;
  font-weight: 700;
}

@media (max-width: 767px) {
  .title {
    font-size: calc(30px + 34 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc(30px + 20 * (100vw  / 1600));
  }
}

.text {
  padding-top: 40px;
  padding-bottom: 65px;
  font-size: 17px;
  font-weight: 400;
}

.btn {
  display: flex;
}

.btn .link {
  background: #f7672c;
  color: white;
  padding: 12px 22px;
  font-size: 17px;
  font-weight: 400;
}

.common__title {
  color: #02191b;
}

.common__title span {
  color: #04cced;
}

.common__title::before {
  content: "";
  background-image: url(../img/new-arrival/dove-min.png);
  background-repeat: no-repeat;
  width: 52px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translate(-50%, -50%);
}

.common__title::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #f7672c;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -28px;
  transform: translate(-50%, -50%);
}

.common__text {
  color: #000706;
  text-align: center;
  line-height: 1.6;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.top-bar {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  column-gap: 10px;
}

.logo__text {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
}

.menu__link {
  color: #fbfdfd;
  font-size: 17px;
  font-weight: 400;
}

.icon-menu {
  display: block;
  position: relative;
  flex: 0 0 2.1875rem;
  height: 1.5rem;
  background: 0;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transform: all 0.3s ease 0s;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background: white;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(52% - 2px);
}

.menu-open .icon-menu span {
  transform: scale(0);
}

.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.intro {
  background-image: url(../img/header/bg.png);
  background-position: center;
  background-size: cover;
  min-height: 1200px;
  position: relative;
}

.intro-video {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 435px;
}

.intro-video__title {
  color: #fbfdfd;
  width: 60%;
  font-weight: 400;
  line-height: 1;
}

@media (max-width: 767px) {
  .intro-video__title {
    font-size: calc(40px + 85 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .intro-video__title {
    font-size: calc(40px + 50 * (100vw  / 1600));
  }
}

.intro-video__title span {
  color: #04cced;
  font-weight: 700;
}

.intro-video__text {
  color: white;
  padding-top: 65px;
  padding-bottom: 75px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.9;
}

.intro-btn {
  display: flex;
  column-gap: 30px;
}

.intro-btn__link {
  background: #f7672c;
  color: white;
  padding: 20px 60px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .intro-btn__link {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .intro-btn__link {
    font-size: calc(16px + 4 * (100vw  / 1600));
  }
}

.intro-btn__link_white {
  background: white;
  color: #000706;
}

.intro-video-shape__link {
  position: relative;
  background: #f7672c;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-video-shape__link::before {
  content: "";
  background: rgba(255, 255, 255, 0.2);
  width: 115px;
  height: 115px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: witr_squares 1.5s ease-in-out infinite;
}

._icon-triangle-arrowpng {
  position: relative;
  background: #f7672c;
  width: 115px;
  height: 115px;
  border-radius: 50%;
}

._icon-triangle-arrowpng::before {
  content: "";
  background: url(../img/header/trd.png);
  width: 25px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes witr_squares {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  20% {
    transform: scale(1.24);
    opacity: 1;
  }
  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}

.new-arrival {
  padding: 120px 0;
}

.new-arrival__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.animal-carousel__icon {
  width: 206px;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dddddd;
}

.animal-carousel__title {
  color: #1a1919;
  padding-top: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .animal-carousel__title {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .animal-carousel__title {
    font-size: calc(18px + 4 * (100vw  / 1600));
  }
}

.about-our-birds {
  background-image: url(../img/about-our-birds/vincent-van-zalinge.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-our-birds__inner {
  display: flex;
  gap: 20px;
  padding-top: 150px;
  padding-bottom: 95px;
}

.about-our-birds__content {
  flex: 0 0 50%;
}

.about-our-birds__title {
  color: #f7672c;
}

.about-our-birds__title span {
  color: white;
}

.about-our-birds__text {
  color: white;
}

.about-our-birds__picture {
  flex: 0 0 50%;
}

.about-our-btn__link {
  width: 138px;
  height: 46px;
}

.our-birds-animals__header {
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-birds-animals__body {
  background-color: #eee;
  padding: 130px 0;
}

.our-birds-animals__inner {
  display: flex;
  gap: 25px;
}

.our-birds-animals__col {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.our-birds-animals__col-left {
  display: flex;
  gap: 25px;
}

.our-birds-animals__item_left {
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.our-birds-animals__btn {
  justify-content: center;
  padding-top: 106px;
}

.testimonials {
  padding: 105px;
  background-image: url(../img/testimonials/bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.testimonials__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-carousel {
  padding-top: 80px;
}

.testimonials-carousel__item {
  position: relative;
  display: flex !important;
  justify-content: center;
  gap: 50px;
}

.testimonials-carousel .slick-dots {
  padding-top: 100px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.testimonials-carousel .slick-dots .slick-active button {
  background-color: #04cced;
}

.testimonials-carousel .slick-dots button {
  width: 32px;
  height: 17px;
  background-color: #f7672c;
  font-size: 0;
  border-radius: 30px;
}

.testimonials-carousel__picture {
  position: absolute;
  top: 0;
  left: 86px;
}

.testimonials-carousel__picture::after {
  content: "";
  position: absolute;
  top: 50px;
  left: -11px;
  width: 188px;
  height: 185px;
  background-color: #f7672c;
}

.testimonials-carousel__picture img {
  z-index: 100;
  position: relative;
}

.testimonials-carousel__content {
  flex: 0 0 71%;
  background: #222222;
  padding: 40px 0;
  padding-left: 130px;
  padding-right: 40px;
}

.testimonials-carousel__name {
  color: white;
  padding-bottom: 5px;
  margin-left: 44px;
  font-size: 22px;
  position: relative;
}

.testimonials-carousel__name::before {
  content: "";
  background-image: url(../img/testimonials/quote-left.png);
  background-repeat: no-repeat;
  width: 35px;
  height: 30px;
  position: absolute;
  top: -5px;
  left: -43px;
}

.testimonials-carousel__text {
  color: white;
  font-size: 16px;
  line-height: 2;
  position: relative;
}

.testimonials-carousel__text::after {
  content: "";
  background-image: url(../img/testimonials/quote-right.png);
  background-repeat: no-repeat;
  width: 35px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: -15px;
}

.newsletter {
  background-color: #011213;
  padding: 100px 0;
}

.newsletter__title {
  color: white;
  font-weight: 700;
  font-size: 26px;
}

.newsletter__form {
  position: relative;
}

.newsletter__input {
  background-color: #011213;
  width: 100%;
  padding: 20px 5px;
  border: 0;
  border-bottom: 1px solid #8f9797;
}

.newsletter__input::placeholder {
  color: #4b4b4b;
  font-size: 16px;
}

.newsletter__btn {
  position: absolute;
  right: 0;
  bottom: 9px;
}

.newsletter__link {
  padding: 9px 76px !important;
  font-size: 16px;
  text-transform: uppercase;
}

.call-back__header {
  background-image: url(../img/call-back/cal-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 85px 0;
}

.call-back__inner {
  display: flex;
  justify-content: center;
}

.call-back__body {
  height: 675px;
  position: relative;
}

.call-back__body iframe {
  width: 100%;
  height: 100%;
}

.call-back-form {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 34.7%;
  padding: 20px 40px;
  background-color: white;
  display: flex;
  gap: 110px;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.14);
}

.call-back-form-group__input {
  width: 100%;
  margin-bottom: 24px;
  border: 0;
  border-bottom: 1px solid #f7672c;
}

.call-back-form-group__input::placeholder {
  color: #666;
  font-size: 16px;
}

.call-back-form-group__link {
  padding: 7px 34px;
}

.call-back-address__item {
  display: flex;
  font-size: 17px;
  gap: 15px;
}

.call-back-address__link {
  display: flex;
  font-size: 17px;
  gap: 15px;
}

.footer {
  background-color: #1c1c1c;
  padding: 30px 0;
}

.footer__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-social {
  display: flex;
}

.footer-copir__text {
  color: white;
}

@media (max-width: 991.98px) {
  .menu-nav {
    display: none;
  }
  .about-our-birds__inner {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .intro-video__title {
    width: 100%;
  }
  .our-birds-animals__inner {
    gap: 15px;
  }
  .our-birds-animals__col {
    gap: 15px;
  }
  .our-birds-animals__col-left {
    gap: 15px;
  }
  .our-birds-animals__item_left {
    gap: 15px;
  }
}

@media (max-width: 575.98px) {
  .intro {
    min-height: 1020px;
  }
  .intro-video {
    padding-top: 220px;
    flex-direction: column;
    gap: 70px;
  }
  .intro-video__item {
    width: 100%;
  }
  .intro-video-shape {
    display: flex;
    justify-content: center;
  }
  .intro-btn__link {
    padding: 15px 50px;
  }
  .intro-video-shape__link {
    width: 80px;
    height: 80px;
  }
  .intro-video-shape__link::before {
    width: 80px;
    height: 80px;
  }
  ._icon-triangle-arrowpng {
    width: 80px;
    height: 80px;
  }
  .newsletter__btn {
    bottom: -70px;
    left: 0;
  }
  .our-birds-animals__inner {
    flex-direction: column;
  }
  .our-birds-animals__item img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .intro-btn__link {
    padding: 15px 22px;
  }
  .intro-video__text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */