.call-back {
   &__header {
      background-image: url(../img/call-back/cal-bg.png);
      background-repeat: no-repeat;
      background-position: center;
      padding: 85px 0;
   }
   &__inner {
      display: flex;
      justify-content: center;
   }
   &__title {
   }
   &__body {
      // background-image: url(../img/call-back/maps.jpg);
      // background-repeat: no-repeat;
      // background-position: center;
      height: 675px;
      position: relative;
      iframe {
         width: 100%;
         height: 100%;
      }
   }
}
.call-back-form {
   position: absolute;
   bottom: 15px;
   left: 50%;
   transform: translateX(-50%);

   max-width: 760px;
   padding: 20px 40px;
   background-color: $whiteColor;
   display: flex;
   gap: 110px;
   align-items: center;
   border-radius: 24px;
   box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.14);
   &__item {
   }
}
.call-back-form-group {
   &__input {
      width: 330px;
      margin-bottom: 24px;
      border: 0;
      border-bottom: 1px solid $accentColor;
      &::placeholder {
         color: #666;
         font-size: 16px;
      }
   }
   &__btn {
   }
   &__link {
      padding: 7px 34px !important;
   }
}
.call-back-address {
   &__item {
      display: flex;
      align-items: center;
      font-size: 17px;  
      gap: 15px;
      margin-bottom: 21px;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &__link {
      display: flex;
      align-items: center;
      font-size: 17px;  
      gap: 15px;
   }
   ._icon-mail, ._icon-mobile, ._icon-map {
      &::before {
         color: $accentColor;
         font-size: 30px;
      }
   }
}


