.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.top-bar {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  column-gap: 10px;
  &__text {
    color: $whiteColor;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  &__link {
    color: #fbfdfd;
    font-size: 17px;
    font-weight: 400;
  }
}
// burger---------------------------------------//
.icon-menu {
  display: block;
  position: relative;
  flex: 0 0 rem(35);
  height: rem(24);
  background: 0;
  cursor: pointer;
  z-index: 5;
  span,
  &::before,
  &::after {
    content: "";
    transform: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: rem(3);
    background: $whiteColor;
  } 
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(52% - 2px);
  }
  .menu-open & {
    span {
      transform: scale(0);
    }
    &::before {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
    &::after {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}
// .open {
//   display: flex;
//   flex-direction: column;
//   background: $accentColor;
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   top: 0;
//   left: 0;
//   align-items: center;
//   justify-content: center;
//   .menu__link{
//     color: $whiteColor;
//     font-size: rem(35);
//   }
// }